.about_me_container {
  display: flex;
  margin: 3rem auto 0 auto;
  @media only screen and (max-width: 640px) {
    margin: 1rem auto 0 auto;
  }
  @media only screen and (max-width: 450px) {
    img {
      display: none;
    }
    text-align: center;
  }
}

.buttons_container {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.content {
  margin-left: 1rem;
  max-width: 18rem;
  h1 {
    margin: 1rem 0;
  }
  p {
    font-size: .9rem;
  }
}

.me {
  width: 7rem;
}