.container {
  display: flex;
  flex-direction: column;
}

.date {
  margin-top: 0;
  color: var(--color-main-gray);
}

.title {
  font-size: 1.5rem;
  margin: 1rem 0 0 0;
  color: var(--color-main-blue);
  transition: all .3s;
  &:hover {
    color: var(--color-main-pop);
  }
}