.footer {
  width: 100%;
  height: 5rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
}

.footer_contents {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: var(--breakpoint-xl);
  p {
    color: var(--color-gray-1);
  }
}

.icons_container {
  width: 7rem;
  display: flex;
  justify-content: space-between;
}

.icon {
  color: var(--color-main-gray);
  transition: all .5s;
}

.github {
  &:hover {
    color: #24292e;
  }
}

.linkedin {
  &:hover {
    color: #0E76A8;
  }
}

.twitter {
  &:hover {
    color: #00ACEE;
  }
}
